h1 {
    padding:50px;
}


form{
    padding: 100px;
    height: 150px;
}

body{
    text-align: center;
}

div{
    display:grid;
    justify-items:center;
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
}